div.react-components-show-button {
    position: relative;
}
div.react-components-show-button:hover img{
    opacity: 0.8;
}
div.react-components-show-button:hover button {
    display: block;
}
div.react-components-show-button button {
    position: absolute;
    display: none;
}
div.react-components-show-button button.react-components-show-url {
    top: 2px;
    right: 2px;
}
.bg-lightgray-ul-0 {
  background-color: #fbfbfb;
}
.bg-lightgray-ul-1 {
  background-color: #f9f9f9;
}
.bg-lightgray-ul-2 {
  background-color: #f7f7f7;
}
.bg-lightgray-ul-3 {
  background-color: #f5f5f5;
}
.bg-lightgray-ul-4 {
  background-color: #f3f3f3;
}
.bg-lightgray-ul-5 {
  background-color: #f1f1f1;
}
.bg-lightgray-ul-6 {
  background-color: #ededed;
}
.bg-lightgray-ul-7 {
  background-color: #ebebeb;
}
.bg-lightgray-ul-8 {
  background-color: #e9e9e9;
}
.bg-lightgray-ul-9 {
  background-color: #e7e7e7;
}
.bg-lightgray-ul-10 {
  background-color: #e5e5e5;
}
.bg-lightgray-ul-11 {
  background-color: #e3e3e3;
}
.bold {
  font-weight: bold;
}
.lighter {
  font-weight: lighter;
}
.green {
  color: green;
}
.crimson {
  color: crimson;
}
