div.react-components-show-button {
    position: relative;
}
div.react-components-show-button:hover img{
    opacity: 0.8;
}
div.react-components-show-button:hover button {
    display: block;
}
div.react-components-show-button button {
    position: absolute;
    display: none;
}
div.react-components-show-button button.react-components-show-url {
    top: 2px;
    right: 2px;
}
/*.bg-lightgray-ul-0 {
  background-color: #fbfbfb;
}
.bg-lightgray-ul-1 {
  background-color: #fafafa;
}
.bg-lightgray-ul-2 {
  background-color: #f9f9f9;
}
.bg-lightgray-ul-3 {
  background-color: #f8f8f8;
}
.bg-lightgray-ul-4 {
  background-color: #f7f7f7;
}
.bg-lightgray-ul-5 {
  background-color: #f6f6f6;
}
.bg-lightgray-ul-6 {
  background-color: #f5f5f5;
}
.bg-lightgray-ul-7 {
  background-color: #f4f4f4;
}
.bg-lightgray-ul-8 {
  background-color: #f3f3f3;
}
.bg-lightgray-ul-9 {
  background-color: #f2f2f2;
}
.bg-lightgray-ul-10 {
  background-color: #f1f1f1;
}
.bg-lightgray-ul-11 {
  background-color: #f0f0f0;
}*/
.bold {
  font-weight: bold;
}
.lighter {
  font-weight: lighter;
}
.green {
  color: green;
}
.crimson {
  color: crimson;
}
.hov:hover {
  background-color: rgba(0, 0, 128, 0.05);
}